/* Resetting Default Settings */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Styling Body */
body{
    font-family: Arial, sans-serif;
}

/* Header, Navbar and Hero Section */

.header{

    background-color: aqua;
    background-image: url('./Assets/Images/karsten-winegeart-UicC_FIozPc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #303030;
    padding: 0px;
}

.nav{
    height: 65px;
    padding: 10px 50px;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav ul{
    list-style: none;
    display: flex;
}

.nav li{
    margin: 0 10px;
}

.nav a{
    text-decoration: none;
    color: #303030;
}

.hero{
    
    color: #ffffff;
    text-align: center;
    padding: 225px 0;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
}

.hero-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.hero-button:hover{
    background-color: #ff3333;
}
.collection{
    background-color: #f7f5f5;
    /* background-color: rgb(255, 0, 0); */
}
.collection h2{
    font-size: 30px;
    font-weight: bold;
    color: #555555;
    padding: 30px 0px;
    text-align: center;
}

.products{
    padding: 0px 55px;
    display: flex;
    justify-content: space-around;
    
}

/* CSS for the product card container */
.product-card {
    width: 300px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin: 10px;
    /* background-color: #fffdfd; */
    text-align: center;
}

.product-card:hover{
    transform: scale(1.01);
}
/* CSS for the product image */
.product-image img {
    width: 100%;
}

/* CSS for the product title */
.product-title {
    padding: 5px;
}

/* CSS for the product description */
/* .product-description {
    padding: 10px;
} */

/* CSS for the product price */
.product-price {
    font-weight: bold;
    /* padding: 10px; */
}

/* CSS for the "Add to Cart" button */
.add-to-cart {
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.button{
    border: 1px solid #303030 ;
    /* background-color: #ff4d4d; */
    /* color: #ffff; */
    transition: background-color 0.3s;
}

.button:hover{
    background-color: #303030;
    color: #ffffff;
}

.footer{
    background-color: #d6d6d6;
    text-align: center;
}

.contact{
    padding: 40px;
}
.contact h2{
    font-size: 20px;
    padding-bottom: 30px;
}

.contact-container{
    font-size: 15px;
}

.copy-rights{
    /* background-color: #cfcece; */
    padding: 30px;
    font-size: 15px;
}